:root{
    --height-navbar:  calc(100vh - 90px);
    --height-navbarfooter: 54px;
    --notifitext-size: 1.2rem;
    --notifitext-color: #fff5f5;
    --navbartext-color:#e2e2e4;
    --white-color: #fff;
    --nameband-text-color:#6f6b6b;
    --texthover-color-violet: violet;
    --black-color:#000;
}